header {
  display: flex;
}

.header_div {
  position: absolute;
  height: 100px;
  background-color: white;
  width: 1349px;
  margin-top: 0px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.137);
}
.nav_itemm {
  position: absolute;
  color: grey;
  font-size: 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 47px;
  margin-left: 160px;
}

.search_inp {
  position: absolute;
  height: 45px;
  width: 567px;
  border: 1px solid black;
  border-radius: 30px;
  margin-left: 255px;
  margin-top: 30px;
  text-align: center;
}

.udemy_logo {
  position: absolute;
  margin-top: 27px;
  margin-left: 18px;
}

.nav_item2 {
  position: absolute;
  margin-left: 845px;
  margin-top: 44px;
  font-size: 15px;
  text-decoration: none;
  color: grey;
}

.nav_itemm:hover {
  color: blueviolet;
}

.nav_item2:hover {
  color: blueviolet;
}  

.nav_item3 {
  position: absolute;
  margin-left: 967px;
  margin-top: 44px;
  font-size: 15px;
  text-decoration: none;
  color: grey;
}

.nav_item3:hover {
  color: blueviolet;
}

.shoppingcart_icon {
  position: absolute;
  margin-left: 1085px;
  height: 35px;
  margin-top: 35px;
}

.login_btn {
  position: absolute;
  margin-left: 1133px;
  height: 45px;
  width: 80px;
  margin-top: 30px;
  background-color: white;
  border: 1px solid black;
}

.login_btn:hover {
  color: rgba(0, 0, 0, 0.596);
}

.signup_btn {
  position: absolute;
  margin-left: 1220px;
  height: 45px;
  width: 82px;
  margin-top: 30px;
  background-color: black;
  color: white;
}

.signup_btn:hover {
  color: rgba(128, 128, 128, 0.842);
}

.globe_btn {
  position: absolute;
  margin-left: 1310px;
  margin-top: 29px;
  height: 47px;
  background-color: white;
  border: 1px solid black;
}


.div_1 {
  display: flex;
  margin-top: 100px;
}

.lady_smilingimg {
  width: 1349px;
  margin-left: 35px;
  margin-top: 950px;
  /* height: 150px; */
  padding: 0;
  margin: 0;
}
.come_word {
  position: absolute;
  margin-left: 50px;
  margin-top: 100px;
  font-size: 55px;
}

.become_word {
  position: absolute;
  margin-top: 250px;
  margin-left: 55px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 21rem;
}

.withus-word {
  position: absolute;
  margin-top: 170px;
  margin-left: 50px;
  font-size: 50px;
}

.get_startedbtn {
  position: absolute;
  margin-top: 330px;
  margin-left: 55px;
  width: 340px;
  height: 50px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.get_startedbtn:hover {
  color: black;
}

.div_2 {
  position: absolute;
  margin-top: 30px;
  }

  .so_word {
    margin-left: 450px;
    font-size: 40px;
  }


  .child_div {
    position: absolute;
    /* text-align: start; */
    /* background-color: white; */
    height: 10vh;
    width: 1345px;
  }

  .handonb_img {
    margin-left: 190px;
  }

  .space_img {
    margin-left: 320px;
  }

  .award_img {
    margin-left: 330px;
  }

  .teach_word {
    /* display: flex; */
    position: absolute;
    margin-left: 167px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .inspire_word {
    position: absolute;
    margin-left: 620px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .get_rewarded {
    position: absolute;
    margin-left: 1075px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .publish_div {
    position: absolute;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    margin: 4px 0px 4px;
    max-width: 34rem;
    margin-top: 170px;
    margin-left: 90px;
  }

  .Teach_div {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    font-size: 16px;
    max-width: 34rem;
    margin-top: 170px;
    margin-left: 530px;
  }

  .expand_div {
    /* position: absolute; */
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    max-width: 19rem;
    text-align: center;
    margin-left: 984px;
    margin-top: 200px;
  }

  .div_3 {
    position: absolute;
    width: 1349px;
    height: 30vh;
    background-color: #5624d0;
    margin-top: 480px;
  }

  .numb_1 {
    position: absolute;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 40px;
    margin-left: 120px;
    margin-top: 65px;
    height: 0;
  }

.students_word {
  position: absolute;
  margin-left: 130px;
  color: white;
  font-size: inherit;
  max-width: 60rem;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin-top: 110px;
}

.numb_2 {
  position: absolute;
  margin-left: 360px;
  font-size: 40px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 65px;
  height: 0;
}

.language_word {
  position: absolute;
  margin-left: 355px;
  margin-top: 110px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: inherit;
  color: white;
  font-weight: 400;
}

.numb_3 {
  position: absolute;
  font-size: 40px;
  color: white;
  margin-left: 590px;
  margin-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  height: 0;
}

.enroll_word {
  position: absolute;
  margin-left: 600px;
  margin-top: 110px;
  color: white;
  font-size: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.numb_4 {
  position: absolute;
  margin-left: 856px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 70px;
}

.countries_word {
  position: absolute;
  margin-left: 863px;
  margin-top: 110px;
  color: white;
  font-size: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.numb_5 {
  position: absolute;
  margin-left: 1100px;
  font-size: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 70px;
}

.enterprise_word {
  margin-left: 1140px;
  margin-top: 110px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: inherit;
  font-weight: 400;
}

.next_div {
  position: absolute;
  margin-top: 700px;
}

.how_word {
  margin-left: 530px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
}

.nav_div {
  /* position: absolute; */
  display: flex;
  height: 100vh;
  width: 790px;
  background-color: white;
  margin-left: 300px;
  margin-top: 960px;
}

.nav_item {
  position: absolute;
  /* display: flex; */
   height: 20vh;
  width: 1090px;
  background-color: white;
   margin-top: 835px;
  left: 0px; 
  margin-left: 120px;
  font-weight: 700;
}

.nav_items {
  position: absolute;
  color: black;
  font-size: 24px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 44px;
  margin-left: 190px;
}

.nav_items2 {
  position: absolute;
  margin-left: 450px;
  margin-top: 44px;
  font-size: 24px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  left: 0px;
  font-weight: 700;
}

.nav_items3 {
  position: absolute;
  margin-left: 690px;
  margin-top: 44px;
  font-size: 24px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  left: 0px;
  font-weight: 700;
}

.girl_coding {
  position: absolute;
  margin-left: 420px;
}

.you_startword {
  max-width: 26rem;
  font-weight: 400;
  font-size: 20px;
}
.help_word {
  position: absolute;
  font-size: 20px;
  margin-top: 0px;
}

.offer_word {
  max-width: 26rem;
  font-weight: 400;
  font-size: 20px;
  margin-top: 90px;
}

.girl_withlaptop {
  position: absolute;
  margin-left: 420px;
}

.basic_toolsword {
  max-width: 26rem;
  font-weight: 400;
  font-size: 20px;
}

.support_word {
  /* max-width: 40rem; */
  font-size: 20px;
}

.launch_img {
  position: absolute;
  margin-left: 420px;
}

.gather_word {
  max-width: 26rem;
  font-weight: 400;
  font-size: 20px;
}

.custom_word {
  max-width: 26rem;
  font-weight: 400;
  font-size: 20px;
}

.imgslider_div {
  position: absolute;
  margin-top: 1790px;
}

.img_div {
  position: absolute;
  background-color: white;
  height: 50vh;
  width: 540px;
  margin-top: 1500px;
  left: 0px;
}
.teamwork_img {
  position: absolute;
  margin-left: 0px;
  left: 0px;
}

.head_worddiv {
  position: absolute;
  height: 40px;
  background-color: white;
  width: 550px;
  margin-left: 470px;
  text-align: center;
  margin-top: 1600px;
}

.instructor_word {
  position: absolute;
  margin-top: 1690px;
  margin-left: 490px;
  font-weight: 400;
  font-size: 18px;
}

.experienced_word {
  margin-left: 50px;
}

.link_items {
  position: absolute;
  margin-top: 40px;
  margin-left: 50px;
}

.img_div2 {
  position: absolute;

}

.instructor_div {
  position: absolute;
  margin-top: 2050px;
  background-color: rgba(128, 128, 128, 0.089);
  width: 1347px;
  height: 350px;
  text-align: center;
}

.become_div {
  margin-top: 90px;
  font-size: 20px;
  height: 40px;
  margin-left: 40px;
}

.join_div {
  position: absolute;
  font-size: 20px;
  max-width: 39rem;
  margin-left: 430px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 490;
  margin-top: 0px;
}

.getstarted_btn {
  width: 290px;
  height: 40px;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 350px;
  margin-top: 10px;
}

footer {
  display: flex;
  position: absolute;
  margin-top: 2370px;
  padding-left: 4.8rem;
  background-color: rgba(0, 0, 0, 0.925);
  width: 1345px;
  height: 60vh;
  padding: 0;
}

.top_word {
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  margin-left: 20px;
}

.udemyb_word {
  color:#cec0fc;
}

.logo_div {
  position: absolute;
  margin-left: 880px;
  justify-content: space-between;
  margin-top: 30px;
}

.border_line {
  position: absolute;
  height: 1px;
  width: 1345px;
  background-color: grey;
  margin-top: 100px;
}

.footernav_div {
  display: flex;
  position: absolute;
  margin-top: 150px
}

.link_item1 {
  color: white;
  text-decoration: none;
  margin-left: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
.link_item2 {
  position: absolute;
  color: white;
  text-decoration: none;
  margin-left: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.link_item3 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  height: 0px;
  margin-left: 50px;
}

.link_item4 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  height: 0px;
  margin-left: 50px;
}

.link_item5 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  height: 0px;
  margin-left: 50px;
}

.nav_1 {
  margin-left: 150px;
}

.link_item6 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  height: 0px;
  margin-left: 50px;
}

.link_item7 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  height: 0px;
  margin-left: 50px;
}

.link_item8 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  height: 0px;
  margin-left: 50px;
}

.link_item9 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  height: 0px;
  margin-left: 50px;
}

.link_item10 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  margin-left: 50px;
}

.nav_2 {
  margin-left: 250px;
  width: 550px;
}

.link_item11 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  margin-left: 50px;
}

.link_item12 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  margin-left: 50px;
}

.link_item13 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  margin-left: 50px;
}

.link_item14 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  margin-left: 50px;
}

.link_item15 {
  position: absolute;
  color: white;
  text-decoration: none;
  /* 5 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  margin-left: 50px;
}

.udemyfooter_logo {
  position: absolute;
  height: 40px;
  margin-top: 160px;
  margin-left: 50px;
}

.copyright_word {
  position: absolute;
  margin-left: 930px;
  margin-top: 170px;
  color: white;
}

.shoppingcart_icon {

  position: absolute;
  margin-left: 1090px;
  width: 30px;
  margin-top: 35px;
}

.shoppingcart_icon :hover {
  color: blueviolet;
}

.header_logo {
  position: absolute;
  height: 40px;
  margin-top: 30px;
  margin-left: 20px;
}